body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.quiz-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.question {
    font-size: 24px;
    margin-bottom: 20px;
}

.btn {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    transition: all 0.3s;
}



.btn:hover{
    opacity: 0.85;
    background: #265e83;
}
.correct {
    background-color: #2ecc71;
}

.incorrect {
    background-color: #e74c3c;
}

.next-btn {
    display: none;
    margin-top: 20px;
}
